.idea/
.gradle/
build/
out/

# the downloaded corpus should not be checked in
corpus/

# Jazzer application files
/jazzer
/jazzer_agent_deploy.jar
/jazzer_api_deploy.jar

# Jazzer result/crash files
/crash-*
/Crash_*.java
/slow-unit-*
/oom-*